* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background: #F6F6F6;
    color: #515151;
    border-top: solid 8px #6CC6C4;
    font-family: Verdana, Arial, Helvetica, 'meirio', 'メイリオ', 'Hiragino Maru Gothic Pro', 'ヒラギノ丸ゴ Pro W4', Osaka, 'ＭＳ Ｐゴシック', sans-serif;
}

header {
    margin: 0 auto;
    width: 920px;
}

.header-contents {
    height: 200px;
}

.header-top {
    padding-bottom: 10px;
}

.header-left {
    float: left;
    margin-top: 50px;
}

.header-right {
    float: right;
}

.catchy-phrase {
    font-size: 10px;
    text-align: right;
}

.header-right span {
    color: #B22C00;
}

.tel {
    font-size: 26px;
    text-align: right;
    margin: 0;
    padding-top: 5px;
}

.tel i {
    font-size: 0.8em;
}

.time {
    font-size: 10px;
    border: 1px solid #D6D6D6;
    padding: 5px 20px;
}

.top-menu-all {
    font-size: 0;
    height: auto;
    border-radius: 5px;
    border: solid 1px #6CC6C4;
}

.top-menu {
    background-image: -webkit-gradient(linear, 50% -1%, 50% 101%, color-stop(0, rgb(156, 227, 225)), color-stop(1, rgb(108, 198, 196)));
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    width: 20%;
    height: 100%;
    padding: 18px 0 17px 0;
    text-shadow: 1px 1px 2px #6cc6c4;
    border-right: #71C9C7 solid 1px;
    border-left: #99E1DF solid 1px;
}

.top-menu:hover {
    background-image: linear-gradient(to bottom, rgb(108, 198, 196), rgb(156, 227, 225));
    opacity: 0.7;
}

.access {
    border-right: none;
}

.titleJa {
    font-size: 14px;
    display: block;
}

.titleEn {
    font-size: 10px;
    display: block;
}

.main {
    margin: 0 auto;
    width: 920px;
}

.main-contents {
    padding-top: 20px;
}

.main-right {
    float: right;
    margin-bottom: 30px;
}

.main-left {
    float: left;
    width: 260px;
}

.left-menu {
    border: solid 1px #6CC6C4;
    background-color: white;
    height: 230px;
    margin-bottom: 15px;
    border-radius: 5px 5px 0 0;
}

.left-menu h3 {
    background-image: -webkit-gradient(linear, 50% -1%, 50% 101%, color-stop(0, rgb(156, 227, 225)), color-stop(1, rgb(108, 198, 196)));
    font-weight: normal;
    color: white;
    font-size: 16px;
    margin: 0;
    padding: 10px 0 10px 15px;
}

.left-menu ul {
    margin: 0;
    padding: 0 0 10px 10px;
}

.left-menu li {
    border-bottom: 1px solid #6CC6C4;
    padding: 10px 0;
    width: 95%;
    list-style: none;
    font-size: 14px;
    font-weight: bold;
}

.left-menu a {
    text-decoration: none;
    color: #515151;
}

.left-menu a:hover {
    color: #6CC6C4;
}

.under a:hover {
    color: #AEC24C;
}


/* メイン右側ここから */

.no-img {
    height: 280px;
    width: 640px;
}

.news-wrapper {
    height: 420px;
    width: 640px;
    margin: 5px 0 30px 0;
    padding-top: 30px;
    background-color: white;
    border-radius: 0 0 5px 5px;
}

.news-wrapper h3 {
    font-size: 16px;
    padding-bottom: 15px;
    margin: 0 0 15px 18px;
    width: 95%;
    border-bottom: 3px solid #6CC6C4;
}

.news {
    margin: 0 26px 0 26px;
    padding: 10px 13px 10px 0;
    font-size: 13px;
    border-bottom: 1px dotted rgb(194, 193, 193);
}

.date text {
    display: inline-block;
}

.date {
    float: left;
    font-weight: bold;
    margin: 0 30px 13px 0;
    vertical-align: top;
}

.text {
    margin: 0;
}


/* ここまで */

footer {
    margin: 0 auto;
    width: 920px;
}

.footer-contents {
    height: 120px;
}

.footer-menu {
    background-color: #6CC6C4;
    border-radius: 5px;
    width: 100%;
}

.footer-menu ul {
    margin: 0;
}

.footer-menu li {
    float: left;
    list-style: none;
    padding: 5px 40px 5px 0;
    font-size: 14px;
}

.footer-menu a {
    text-decoration: none;
    color: white;
}

.footer-menu a:hover {
    text-decoration: underline;
}

.clear {
    clear: both;
}

.footer-adress {
    font-size: 13px;
    text-align: right;
    border-bottom: 2px solid #6CC6C4;
    padding-bottom: 12px;
}

.sp {
    display: none;
}

.footer-copyright {
    font-size: 12px;
    text-align: center;
    padding-bottom: 20px;
    margin: 0;
}
